# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

*.pdf
*.tar.gz
#NAMESPACE


**/man/
#*.Rd
.Rproj.user
